.navbar {
  background: "linear-gradient(90deg, #dce1ff, #e9ecff)";
  boxShadow: "0 2px 4px rgba(0,0,0,0.1)";
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile {
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.profile:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}
